{extends layout.latte}

{block title}Pridat osobu{/block}

{block body}
    <div class="container">
        <h1>{include title}</h1>
        <form method="post" action=" {link addPerson}">
            <label>Jmeno</label>
            <input type="text" name="fn" class="form-control" value="{$form['fn']}"<br>
            <label>Prijemni</label>
            <input type="text" name="ln" class="form-control" value="{$form['ln']}"<br>
            <label>Prezdivka</label>
            <input type="text" name="nn" class="form-control" value="{$form['nn']}"<br>

            <label>Pohlavi</label>
            <select name="g" class="form-protocol">
                <option value="">Nezname</option>
                <option value="male">Muz</option>
                <option value="female">Zena</option>
            </select>
            <br>


            <button type="submit" btn="btn btn-primary">
                <span class="fa fa-save"></span>
                Pridat
            </button>
        </form>

    </div>
{/block}