{extends layout.latte}

{block title}TITLE OF PAGE{/block}

{block body}
    <div class="container">

        <form method="get" action=" {link osoby}">
            <input type="text" name="q" class="form-control">
            <button type="submit" btn="btn btn-primary">
                Hledat
            </button>
        </form>


        <h1>{include title}</h1>
        <table class="table table-striped">
            {foreach $osoby as $o}
                <tr>
                    <td>{$o['first_name']}</td>
                    <td>{$o['last_name']}</td>
                    <td>{$o['nickname']}</td>
                </tr>
            {/foreach}
        </table>
    </div>
{/block}